{% extends '::base.html.twig' %}

{% block body -%}
    <h1>
        <i class="fa fa-users"></i>
        Role list
    </h1>

    <ul class="list-inline">
        <li>
            <a href="{{ path('role_new') }}" class="btn btn-success">
                Create a new entry
            </a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('role_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.role }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('role_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('role_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
