{% extends 'BionicUniversityWebBundle::layout.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('purchase') }}">
                    <i class="fa fa-shopping-cart"></i>
                    Purchases
                </a>
            </li>
            <li>
                <a href="{{ path('category') }}">
                    <i class="fa fa-folder-open"></i>
                    Categories
                </a>
            </li>
            <li>
                <a href="{{ path('product') }}">
                    <i class="fa fa-image"></i>
                    Products
                </a>
            </li>
            <li>
                <a href="{{ path('product_status') }}">
                    <i class="fa fa-retweet"></i>
                    Product Statuses
                </a>
            </li>
            <li>
                <a href="{{ path('delivery') }}">
                    <i class="fa fa-map-marker"></i>
                    Delivery
                </a>
            </li>
            <li>
                <a href="{{ path('delivery_status') }}">
                    <i class="fa fa-refresh"></i>
                    Delivery Statuses
                </a>
            </li>
            <li>
                <a href="{{ path('delivery_type') }}">
                    <i class="fa fa-truck"></i>
                    Delivery Types
                </a>
            </li>
            <li>
                <a href="{{ path('user') }}">
                    <i class="fa fa-user"></i>
                    Users
                </a>
            </li>
            <li>
                <a href="{{ path('role') }}">
                    <i class="fa fa-users"></i>
                    Roles
                </a>
            </li>
        </ul>
    </nav>

    <h1>
        <i class="fa fa-rocket"></i>
        Interstellar :: Control Panel
    </h1>
{% endblock %}
