{% extends '::base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign Up:</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
                <div class="alert alert-danger alert-dismissible alert-fixed-top">
                    <strong>Ooops:</strong> {{ form_errors(form) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
