{% extends 'BionicUniversityWebBundle::layout.html.twig' %}

{% block content %}
    <div class="product product-page">
        <h2>{{ product.name }}</h2>
        <div class="message flash-message"></div>
        <div class="row">
            <div class="col-lg-7"><img class="product-img" src="{{ product.path }}"/></div>
            <div class="col-lg-5">
                {% if product.status.saleable %}
                    <div class="price">Price: USD {{ product.price }}</div>
                    <button data-url="{{ path('add_to_cart', {'productId': product.id}) }}" class="add-to-cart btn btn-info">Add to cart</button>
                    {% else %}
                    <h4>Sorry, this product not in sale..</h4>
                {% endif %}
                <div>{{ product.description }}</div>
            </div>
        </div>
    </div>
{% endblock %}