{% extends 'BionicUniversityWebBundle::layout.html.twig' %}
{% block content %}

    <h3>
        Products  of {{  category.name }} ({{  pagination.getTotalItemCount }})
    </h3>
    <div class="raw" class="product-list">
        {% for product in pagination %}
            <div class="col-lg-4 product">
                <h4>
                    <a href="{{ path('catalog_product', {'productId': product.id}) }}">
                        {{ product.name }}
                    </a>
                </h4>
                <div><img class="product-img" src="{{ product.path }}" /></div>
                <div class="product-price">Price: {{ product.price }} grn.</div>
            </div>
        {% endfor %}
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}