{% extends '::base.html.twig' %}

{% block body %}
    <header>
        <ul>
            <li>
                <a href="{{ path('index') }}">
                    {{ 'welcome_message'|trans }}
                </a>
            </li>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin') }}">Control Panel</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('user_sign_out') }}">Sign Out</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('user_sign_in') }}">Sign In</a>
                </li>
            {% endif %}
        </ul>

        <nav>
            <ul>
                {% for category in categories() %}
                    <li>
                        <a href="{{ path('category_index', {name: category.name}) }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; Bionic University
    </footer>
{% endblock %}